@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
}


h1 {
    font-weight: 800;
    font-size: 3.6rem;
}

h2 {
    font-weight: 800;
    font-size: 2.4rem;
}

p {
    font-weight: 400;
    font-size: 1.8rem;
}

img {
    width: 100%;
    height: auto;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin: auto;
}

section {
    padding: 100px 0;
}



/* Top Section */
header {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.468), rgba(0, 0, 0, 0.6)), url('../Images/businesswoman-having-online-meeting.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 100%;
    margin-top: -5%;
    margin-left:10%;
    text-align: left;
    padding-right: 29%;

} 


form {
    margin: 2.4rem 0;
}

input{
    font-size: 1.8rem;
}

input[type=text],
input[type=email]{
    width: 50%;
    padding: 12px 20px;
    margin: 1.2rem 0;
    display: block;
    border: 1px solid #ccc;
}

input[type=submit] {
    width: 50%;
    background-color: #069df5;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

input::placeholder {
    font-size: 1.3rem;
    color: #ccc;
}

/* About Section */
.about-left,
.about-middle,
.about-right {
    flex-basis: 30%;
    padding: 1.6rem;
}

.btn {

    background-color: #069df5;
    color: #fff;
    padding: 8px 16px;
    display: inline-block;
    margin: 2rem 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
}

.about2 {
    background-color: #fa8602d4;
    color: whitesmoke;
}

.about2-left {
    flex-basis: 50%;
}

.about2-right {
    flex-basis: 30%;
}

.about2 .card {
    padding: 3rem 8rem;
    color: #222;
    margin: 1.6rem;
    text-align: center;
}

/* Process Section */
.process .row {
    justify-content: center;
}

.process-content {
    margin-top: 100px;
}

.progress-bar {
    width: 80%;
    height: 2px;
    background-color: #222;
    margin: auto;
    position: relative;
}

.progress-bar .c1,
.progress-bar .c2,
.progress-bar .c3 {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #222;
    position: absolute;
}

.progress-bar .c1 {
    top: -8px;
    left: 120px;
}

.progress-bar .c2 {
    top: -8px;
    left: 47%;
}

.progress-bar .c3 {
    top: -8px;
    right: 120px;
}


.box1,
.box2,
.box3 {
    padding: 1.8rem;
}

.process .box1 {
    text-align: center;
}

.process .box2 {
    text-align: center;
}

.process .box3 {
    text-align: center;
}

.process-content h2 {
    color: #e6a707d2;
}

/* Testimony */
.testimony {
    background-color: #fa8602d4;
    color: whitesmoke;
}

.testimony .test {
    padding: 4rem 4rem;
    margin: 0 1rem;
   
}

.testimony .image {
    height: 80px;
    width: 80px;
}

.testimony img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.test-content{
    text-align: left;
}


/* Contact */
.contact .row {
    justify-content: center;
}

.contact form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact form input {
    width: 50%;
}

.contact textarea {
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    font-size: 1.3rem;
    resize: none;
    color: #000;
    margin: 1.2rem 0;
    font-family: "Poppins", sans-serif;
}

/* Footer */
footer {
    height: 90px;
    background-color: #fa8602d4;
    color: #000;
    line-height: 80px;
    text-align: center;
}

.copy{
    padding-bottom: 8px;
}

#back-to-top-btn {
    display: none;
    position: fixed;
    bottom:S 20px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #5f27cd;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
  }
  
#back-to-top-btn:hover {
    background-color: #6c3483;
  }


/* Media Queries */

@media only screen and (max-width:768px) {

    .row{
        flex-direction: column;
    }
   
    /* header content */
    .header-content{
        width: 100%;
        top:16%;
        left: 0px;;
        text-align: center;
        padding:0 8px;
        margin-left: 1%;
    
    }
    input[type=text],
    input[type=email],
    input[type=submit]{
        width: 80%;
        margin:1.2rem auto;
    }

    .progress-bar{
        display: none;
    }
    .process-content{
        margin-top: 20px;
    }
    .process .box1,
    .process .box2,
    .process .box3{
        text-align: center;
    }

    /* Testimony */
    .testimony .test{
        margin:1.6rem 0;
    }

    .contact form input,
    .contact textarea{
        width: 100%;
    }
}

@media screen and (max-width:430px){
    .header-content h1{
        font-size: 2.9rem;
    }

    .header-content p{
        font: size 1.2rem;
        
    }
}

