@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');  

*{ 
  margin: 0;
  padding: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image:url("../Images/overhead-view-laptop-cellphone-with-stationery-colored-background.jpg");
 background-size: 100%;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}


.container{
  /* form background-color */
  background-color: #Fff;
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 10px #11203C;
}



.status-message {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  background-color: #069df5;
   border:solid 2px #e6a707 ; 
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  text-align: center;
  font-size: 18px;
  font-weight:400;
}



.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: #e6a707d2;
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;


}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
 
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}


.user-details .input-box select:focus,
.hov select:focus {
  border-color: #e6a707be;
}


.user-details .input-box select, input{
  height: 35px;
  width:100%;
  outline: none;
  font-size: 16px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding-left: 15px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-top-width: 2px;
  border-right-width: 2px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #e6a70772;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two
{
   background: #e6a707d2;
   border-color: #e6a707d2;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #E1F6F4;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: #069df5;
 }
 form .button input:hover{
  transform: scale(0.99);
  background: #e6a707d2;
  }



  textarea{
   width: 100%;
   height: 90px;
   border-bottom-width: 2px;
   padding: 25px 30px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,0.15);
   border: 1px solid #ccc;
   border-bottom-width: 2px;
   transition: all 0.3s ease;

  }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}