*{ 
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

header {
    background-color: #e6a507;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul li a {
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin-right: 20px;
    position: relative;
}

li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

 li a:hover::before {
    width: 100%;
} 

img {
    height: 50px;
}


body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

form {
    margin-bottom: 40px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e6a507;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #d28906;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 40px;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #069df5f9;
    color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

tbody tr:hover {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
  }
  
  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
  }
  
  /* Hide nav menu on small screens */
  nav ul {
    display: flex;
  }

  .container.menu-toggled {
    padding-top: calc(20px + 50%);
  }


  .badge {
    display: inline-block;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 12px;
    margin-left: 5px;
}

 
/* Responsive navigation styles */
@media screen and (max-width: 768px) {
    header {
      position: relative;
      transition: height 0.3s ease;
    }
  
    .hamburger {
      display: flex;
    }
  
    nav ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #e6a507;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 20px;
    }
  
    nav ul li {
      margin-right: 0;
    }
  
    /* Adjust header height when the .show-menu class is added to the ul */
    header.show-menu {
      height: 100%;
    }
  
    /* Show the navigation menu when the .show-menu class is added to the ul */
    nav ul.show-menu {
      display: flex;
    }
  }


