*{ 
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

header {
    background-color: #e6a507;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul li a {
    font-size: 16px;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

li {
    margin-right: 20px;
    position: relative;
}

li a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

li a::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}

 li a:hover::before {
    width: 100%;
} 

img {
    height: 50px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.download-pdf-btn {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
}

.download-pdf-btn:hover {
    background-color: #0056B3;
    cursor: pointer;
}

button {
    margin: 0 10px 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056B3;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.badge {
    display: inline-block;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    background-color: red;
    border-radius: 12px;
    margin-left: 5px;
}
